name: Publish Group Webiste

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:


jobs:
  publish:
    name: Miniconda ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: ["ubuntu-latest"]
    steps:
      - name: check out rg-db-public
        uses: actions/checkout@v3
        with:
          # make sure rg-db-public is at the same level as rg-db-local in the
          # directory tree
          path: rg-db-public

      - name: Check out website repository
        uses: actions/checkout@v3
        with:
          repository: Billingegroup/website
          token: ${{ secrets.GH_ACTIONS_PAT }}
          path: website

      - name: Check out regolith repository
        uses: actions/checkout@v3
        with:
          repository: regro/regolith
          path: regolith

      - name: initialize miniconda
        # this uses a marketplace action that sets up miniconda in a way that makes
        # it easier to use.  I tried setting it up without this and it was a pain
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          # environment.yml file is needed by this action.  Because I don't want
          # maintain this but rather maintain the requirements files it just has
          # basic things in it like conda and pip
          environment-file: rg-db-public/environment.yml
          python-version: 3
          auto-activate-base: false

      - name: install regolith requirements
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes --set changeps1 no
          cd regolith
          conda install --file requirements/run.txt
          pip install .

      - name: Build Group Website in website
        shell: bash -l {0}
        run: |
          cd website
          conda activate test
          regolith validate
          ls
          ls ../rg-db-public/db
          regolith build html

      - name: Deploy Group Website
        uses: connorjbracy/copy_to_another_repo_action@main
        with:
          user_email: 'simon.billinge@gmail.com'
          user_name: 'Simon Billinge'
          source_target: 'website/_build/html'
          destination_repo: 'Billingegroup/billingegroup.github.io'
          destination_branch: 'master'
          repo_level_secret: ${{ secrets.GH_ACTIONS_PAT }}
